<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ATSApplicationFontsPath</key>
	<string>.</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>VC64</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>IconV64</string>
			<key>CFBundleTypeName</key>
			<string>VC64</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>VC64</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>$(PRODUCT_MODULE_NAME).MyDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>D64</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>IconD64</string>
			<key>CFBundleTypeName</key>
			<string>D64</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>$(PRODUCT_MODULE_NAME).MyDocument</string>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>G64</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>IconD64</string>
			<key>CFBundleTypeName</key>
			<string>G64</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>$(PRODUCT_MODULE_NAME).MyDocument</string>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>T64</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>IconT64</string>
			<key>CFBundleTypeName</key>
			<string>T64</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>$(PRODUCT_MODULE_NAME).MyDocument</string>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>PRG</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>IconPRG</string>
			<key>CFBundleTypeName</key>
			<string>PRG</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>$(PRODUCT_MODULE_NAME).MyDocument</string>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>P00</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>IconPRG</string>
			<key>CFBundleTypeName</key>
			<string>P00</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>$(PRODUCT_MODULE_NAME).MyDocument</string>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>CRT</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>IconCRT</string>
			<key>CFBundleTypeName</key>
			<string>CRT</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>$(PRODUCT_MODULE_NAME).MyDocument</string>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>TAP</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>IconT64</string>
			<key>CFBundleTypeName</key>
			<string>TAP</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSTypeIsPackage</key>
			<integer>0</integer>
			<key>NSDocumentClass</key>
			<string>$(PRODUCT_MODULE_NAME).MyDocument</string>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIconFile</key>
	<string>IconVirtualC64</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>4.0</string>
	<key>CFBundleVersion</key>
	<string>4.0</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.entertainment</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSAppleScriptEnabled</key>
	<true/>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>OSAScriptingDefinition</key>
	<string>VirtualC64.sdef</string>
	<key>SUAllowsAutomaticUpdates</key>
	<string>NO</string>
	<key>SUEnableAutomaticChecks</key>
	<string>YES</string>
	<key>SUEnableSystemProfiling</key>
	<string>NO</string>
	<key>SUFeedURL</key>
	<string>http://dirkwhoffmann.de/virtualc64/VirtualC64Appcast.xml</string>
	<key>SUPublicDSAKeyFile</key>
	<string>dsa_pub.pem</string>
	<key>SUPublicEDKey</key>
	<string>RI5wz5tuFpBVuU/2PDNsNEBETCVMfj5+voxlIDzCamQ=</string>
	<key>SUShowReleaseNotes</key>
	<string>YES</string>
</dict>
</plist>
