BODY,TD,TR {font-family: Geneva,Verdana,Arial,Sans-Serif; font-Size: 10pt; margin-top: 2px; margin-left: 0px;}
A:link, A:visited, A:active {color: #7474fc; background-color: transparent; text-decoration: none;}
A:hover {color: white; background-color: transparent; text-decoration: underline;}
INPUT.in1 {font-family: Geneva,Verdana,Arial,Sans-Serif; color: #000000; text-decoration: none; background-color: rgb(240,240,240); border: 1px solid rgb(0,0,0); margin: 1pt;}
.button{
	color: #FFFFFF;
	font-family: Geneva,Verdana,Arial,Sans-Serif;
	font-size: 7pt;
	text-align:center;
	background-color: #100098;
	border-bottom: #000000 1px solid;
	border-left: #7474FC 1px solid;
	border-right: #000000 1px solid;
	border-top: #7474FC 1px solid;
}
.button2{
	color: #000000;
	font-family: Geneva,Verdana,Arial,Sans-Serif;
	font-size: 7pt;
	text-align:center;
	background-color: #7474FC;
	border-bottom: #000000 1px solid;
	border-left: #FFFFFF 1px solid;
	border-right: #000000 1px solid;
	border-top: #FFFFFF 1px solid;
}
div#ts2Bar a img { margin-left:80px; height:20px; width:30px}
.hidetr{ display: none;}
.showtr{ display: table-row;}
